*.npy
build/
dist/
*.egg-info/
**/.ipynb_checkpoints/
examples/*.ipynb
*.xml
.coverage*
.vscode


.idea
*.log
tmp/

*_cache/
*.py[cod]
*.egg
*.nbi
*.nbc

docs/generated/
docs_build/

src/mrtwin/_version.py
